services:
  spark-worker:
    image: apache/spark-py:latest
    container_name: spark-worker
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://${MASTER_IP}:7077
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://${MASTER_IP}:7077
      - SPARK_WORKER_WEBUI_PORT=8081
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
    ports:
      - "8081:8081"
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data
      - ./work:/opt/spark/work